body {
  font-family: sans-serif;
  color: black;
}

#button{
  background-image: url("/img/kaka.png");
  background-color: transparent;
  background-size: cover;
  width: 100px;
  height: 100px;
  border: none;
  transition: transform 0.2s;
}

#button:active {
  transform: scale(0.85);
}
