body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#wrapper {
  background-color: rgba(184, 209, 255, 0.13);
  width: 35%;
  border-radius: 25px;
  height: 100%;
  padding: 45px;
  margin: 30px auto;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.3);
}


#header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-shadow: 2px 2px 10px #292929;

}

#h11{

}

#headerText{
  font-size: 16px;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}


#button{
  background-image: url("/img/kaka.png");
  background-color: transparent;
  background-size: cover;
  width: 225px;
  height: 225px;
  border: none;
  filter: drop-shadow(0 1.5px 2px rgb(0, 0, 0));
  transition: 0.2s;
}

#button:hover {
  transform: scale(1.05);
  cursor: pointer;
  filter: drop-shadow(0 5px 15px rgb(0, 0, 0));
  transition: 0.2s;
}

#button:active {
  filter: drop-shadow(0 5px 10px rgb(162, 202, 255));
  transform: scale(0.99);
  transition: 0.1s;
}

#score {
  font-weight: lighter;
  font-size: 24px;
  background-color: #2c4878;
  box-shadow: 0px 0px 30px #15233c;
  border-radius: 10000px;
  padding: 15px;
}
