body {
  font-family: sans-serif;
  color: white;
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#wrapper {
  background-color: rgba(184, 209, 255, 0.25);
  width: 35%;
  border-radius: 25px;
  height: 100%;
  padding: 50px;
  margin: 30px auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}


#header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  text-shadow: 2px 2px 10px #292929;

}

#h11{

}

#headertext{
  font-size: 16px;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 75px;
  margin-top: 100px;
}


#button{
  background-image: url("/img/kaka.png");
  background-color: transparent;
  background-size: cover;
  width: 225px;
  height: 225px;
  border: none;
  transition: transform 0.2s;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.4));
}

#button:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  cursor: pointer;
}

#button:active {
  transform: scale(0.95);
}

#score {
  font-family: monospace;
  font-weight: lighter;
  font-size: 24px;
  background-color: #2c4878;
  box-shadow: 4px 4px 10px #15233c;
  border-radius: 10px;
  padding: 25px;
}
